[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
requests = "*"
"beautifulsoup4" = "*"
nose = "*"
fleep = "*"

[dev-packages]
pylint = "*"
rope = "*"

[requires]
python_version = "3.6"
